<html>

<head>
    <script src="angular.js">

    </script>
    <script src="componentDirectives.js">

    </script>

</head>

<body ng-app="myapp">
    <hr>
    <!-- for the method 2 type use this -->
    <!--<script type="text/ng-template" id="myInfoId.html">
<strong>Coming From Custom Directive {{oneway1}}</strong>
    </script>-->
<hr>
<p>Two Bingding </p>
    <div ng-controller="twoBinding">
        <!--Compnent can be used in 2 ways as shown below-->
        <div my-info-directive> </div>
                <my-info-directive></my-info-directive>
                <br>
      Oneway1 = {{oneway1}}, To, edit <input typ="text" ng-model="oneway1"> <br>
       Oneway2 = {{oneway2}} To, edit <input typ="text" ng-model="oneway2">
       <br>
    sum = {{TotalSum}}
<br>

<button ng-click="sum()"> Calculate</button>
<br>

</div>
</body>

</html>